<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codo a codo🚀</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem dicta labore esse maiores velit. Fuga dolore neque nulla vitae ratione odio quaerat delectus iure reprehenderit labore eos, iusto veniam vero ducimus architecto debitis eveniet qui officia placeat ad sit? Sequi voluptas eius cupiditate debitis nulla eum ex sit unde, eaque hic dicta inventore veritatis quisquam recusandae tempora beatae illum assumenda pariatur, dolorum, error velit repellendus reiciendis est! Tempora autem ad labore quod fugit molestias voluptatibus! Quos reiciendis, nihil, ipsa unde blanditiis neque sunt nisi, recusandae assumenda veniam molestiae iste rem saepe! Suscipit veniam illo placeat eaque facere delectus harum quisquam.
    <footer class="footer-web">
    
    </footer>
</body>
</html>

